body {
    background: #fff !important;
}

.btn-blk {
    color: #0f2735 !important;
    background-color: #fff !important;
}

.header-dark-gray {
    color: #fff !important;
    z-index: 9999;
}

a.nav-main-link:hover {
    color: #000 !important;
}

.simplebar-scroll-content {
    color: #fff !important;
    background: #4b4c56 !important;
    z-index: 9999;
}

.nav-main-link-name {
    font-size: 16px !important;
}

.nav-main-heading {
    font-size: 18px !important;
    text-align: center !important;
}

.nav-main-item {
    margin-bottom: 15px !important;
}

.nav-main-heading {
    margin-bottom: 15px !important;
}

.simplebar-scrollbar::before {
    background: transparent !important;
}

.expl {
    padding: 10px 10px;
}

.f-height {
    height: 325px !important;
}

ul.social {
    list-style: none !important;
    margin-left: -10px !important;
}

.cg-container {
    border: none !important;
}
